
@media print {
  .noprint {
      display: none;
  }
}

@media screen {
  .image-to-print {
    max-width: 630px;
    padding: 0;
    margin: 0;
  }
}

.image-to-print {
  max-width: 630px;
  padding: 0;
  margin: 0;
}

.actual-btn {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  color: transparent;
  margin: 0.5rem 1rem;
  background: transparent;
}

form {
  margin: 0;
  padding: 0
}
.form-around-uploaded-image {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

