
@media print {
  .noprint {
      display: none;
  }
}

@media screen {
  .image-to-print {
    max-width: 630px;
  }
}

.actual-btn {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  color: transparent;
  margin: 0.5rem 1rem;
  background: transparent;
}

