@import url("https://cdn.syncfusion.com/ej2/material.css");

.monthly-calendar-component {
  display: flex;
  justify-content: center;
  padding: 60px 60px 60px 60px;
  margin: 40px 40px 40px 40px;
  border: 1px solid lightgrey;
  border-color: lightgrey
}